<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/rhanoct.css' %}">
    <meta charset="UTF-8">
    <title>HKIAG Sandbox Site</title>
</head>
<body>
<marquee><h1>Here you go Rhanoct.</h1></marquee>
<img src="{% static 'img/james.png' %}">
<div>
    <h3>Cleaning</h3>
</div>
<div>
    <ol>
        <li>Vacuum the college, including the front stairs</li>
        <input type="checkbox" name="completed" id="completed" required>
        <label for="completed">Completed?</label>
        <label for="comments">Comments</label>
        <input type="text" name="comments" id="comments" required>
        <li>Vacuum the college, including the front stairs</li>
        <input type="checkbox" name="completed" id="completed" required>
        <label for="completed">Completed?</label>
        <label for="comments">Comments</label>
        <input type="text" name="comments" id="comments" required>
        <li>Vacuum the college, including the front stairs</li>
        <input type="checkbox" name="completed" id="completed" required>
        <label for="completed">Completed?</label>
        <label for="comments">Comments</label>
        <input type="text" name="comments" id="comments" required>
        <li>Vacuum the college, including the front stairs</li>
        <input type="checkbox" name="completed" id="completed" required>
        <label for="completed">Completed?</label>
        <label for="comments">Comments</label>
        <input type="text" name="comments" id="comments" required>
    </ol>
</div>
<div>
    <h3>Inventory</h3>
</div>
</body>
</html>